body {
  font-family: "Arial", sans-serif;
  background-color: #ffebef;
  margin: 0;
  padding: 0;
}

.name {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cute-gif-container {
  position: relative;
  z-index: 0;
}

.cute-gif {
  pointer-events: none;
}

#redeem-button {
  position: relative;
  z-index: 1;
}

.view {
  color: #140606;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#cheer-up {
  color: #140606;
  margin: auto;
  text-align: center;
}

.coupon-container {
  margin-bottom: 20px; /* Increase the space between coupon containers */
}

.coupon {
  padding: 20px;
  background-color: #ff6b81;
  color: #fff;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.coupon:hover {
  background-color: #fd3f4a; /* Darker pink background color on hover */
  }

.coupon.used {
  background-color: #dfe6e9; /* Light gray background color for used coupons */
  color: #2d3436; /* Dark text color for used coupons */
  cursor: not-allowed;
  transform: scale(0.95); /* Shrink the used coupon */
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 3px dotted #fff;
}

.coupon::before,
.coupon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff; /* White dots color */
  border-radius: 50%;
}

.coupon::before {
  top: 10px;
  left: 10px;
}

.coupon::after {
  bottom: 10px;
  right: 10px;
}

.coupon::before::before,
.coupon::before::after,
.coupon::after::before,
.coupon::after::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #fff; /* White dots color */
}

.coupon::before::before {
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
}

.coupon::before::after {
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
}

.coupon::after::before {
  bottom: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
}

.coupon::after::after {
  bottom: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
}

.coupon::before::before::before,
.coupon::before::before::after,
.coupon::before::after::before,
.coupon::before::after::after,
.coupon::after::before::before,
.coupon::after::before::after,
.coupon::after::after::before,
.coupon::after::after::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #fff; /* White dots color */
}

.coupon::before::before::before {
  top: -10px;
  left: -10px;
}

.coupon::before::before::after {
  top: -10px;
  right: -10px;
}

.coupon::before::after::before {
  bottom: -10px;
  left: -10px;
}

.coupon::before::after::after {
  bottom: -10px;
  right: -10px;
}

.coupon::after::before::before {
  top: -10px;
  left: -10px;
}

.coupon::after::before::after {
  top: -10px;
  right: -10px;
}

.coupon::after::after::before {
  bottom: -10px;
  left: -10px;
}

.coupon::after::after::after {
  bottom: -10px;
  right: -10px;
}

.coupon.blurred {
  cursor: not-allowed;
}

.blurred {
  filter: blur(5px);
}

.question {
  color: #140606;
  text-align: center;
  margin-top: 20px;
}

#user-input {
  width: 80%;
  padding: 8px;
  margin-top: 10px;
}

#submit-wish-button {
  background-color: #f2a6bf;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#submit-wish-button:hover {
  background-color: #77c4d4;
}

.yes-redeem-this-button-style {
  transition: left 0.2s ease, top 0.2s ease;
  position: absolute;
  transform: translate(-50%, -50%);
}
.center-image iframe {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: #ffeaa7;
  color: #140606;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fdcb6e;
}

#cheer-up-button,
#bring-back-button {
  background-color: #fab1a0;
  color: #140606;
  margin-top: 10px;
}

#cheer-up-button:hover,
#bring-back-button:hover {
  background-color: #ff7675;
}

#user-input {
  margin-bottom: 10px; /* You can adjust this value as needed */
}
